    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>SERVIÇOS</h2>
        <p>Confira nossos <span class="description-title">serviços</span></p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-activity icon"></i></div>
              <h4><a href="https://wa.me/5543996341638?text=Oi! Tudo bem?  Tenho interresse em seus serviços , pode me ajudar ?"  class="stretched-link">Experiência Personalizada</a></h4>
              <p>Projetos adaptados às necessidades específicas do seu negócio</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-bounding-box-circles icon"></i></div>
              <h4><a href="https://wa.me/5543996341638?text=Oi! Tudo bem?  Tenho interresse em seus serviços , pode me ajudar ?"  class="stretched-link">Design Responsivo</a></h4>
              <p>Nossos sites funcionam perfeitamente em qualquer dispositivo</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-currency-dollar icon"></i></div>
              <h4><a href="https://wa.me/5543996341638?text=Oi! Tudo bem?  Tenho interresse em seus serviços , pode me ajudar ?"  class="stretched-link">Custo-Benefício</a></h4>
              <p>Oferecemos serviços de alta qualidade a preços competitivos, garantindo que você obtenha o melhor retorno sobre o seu investimento</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-clock icon"></i></div>
              <h4><a href="https://wa.me/5543996341638?text=Oi! Tudo bem?  Tenho interresse em seus serviços , pode me ajudar ?"  class="stretched-link">Entrega Rápida</a></h4>
              <p>Sabemos que tempo é essencial. Por isso, entregamos seu site ou loja virtual dentro do prazo, sem comprometer a qualidade</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-lightbulb icon"></i></div>
              <h4><a href="https://wa.me/5543996341638?text=Oi! Tudo bem?  Tenho interresse em seus serviços , pode me ajudar ?"  class="stretched-link">Inovação e Atualização Constante</a></h4>
              <p>Estamos sempre atualizados com as últimas tendências e tecnologias, entregando sites modernos e prontos para o futuro digital</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-person-check icon"></i></div>
              <h4><a href="https://wa.me/5543996341638?text=Oi! Tudo bem?  Tenho interresse em seus serviços , pode me ajudar ?" class="stretched-link">Suporte Técnico Contínuo</a></h4>
              <p>Após o lançamento, você continua contando com nossa equipe para atualizações, manutenção e suporte, garantindo que seu site funcione sempre da melhor forma</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-arrow-repeat icon"></i></div>
              <h4><a href="https://wa.me/5543996341638?text=Oi! Tudo bem?  Tenho interresse em seus serviços , pode me ajudar ?"  class="stretched-link">Foco em Conversão</a></h4>
              <p>Nossos e-commerces são desenhados para maximizar suas vendas, com navegação otimizada, processos de compra intuitivos e segurança garantida</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-headset icon"></i></div>
              <h4><a href="https://wa.me/5543996341638?text=Oi! Tudo bem?  Tenho interresse em seus serviços , pode me ajudar ?" class="stretched-link"> Atendimento Ágil e Eficiente</a></h4>
              <p>Nossa equipe está sempre disponível para atender suas demandas, com respostas rápidas e suporte em todas as etapas do projeto</p>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services Section -->

        {% comment %} <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>SOBRE</h2>
        <p><span>Sobre</span> <span class="description-title">Nois<br></span></p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-5">

          <div class="content col-xl-5 d-flex flex-column" data-aos="fade-up" data-aos-delay="100">
            <h3>Porque contratar nossos serviços?</h3>
            <p>
              Oferecemos soluções digitais que fortalecem sua presença online. Com nossos sites e e-commerces, você atrai mais clientes e aumenta suas vendas, tudo com um design profissional e funcional.            </p>
            <a href="{% url 'sobrenois' %}" class="about-btn align-self-center align-self-xl-start"><span>SOBRE NÓIS</span> <i class="bi bi-chevron-right"></i></a>
          </div>

          <div class="col-xl-7" data-aos="fade-up" data-aos-delay="200">
            <div class="row gy-4">

              <div class="col-md-6 icon-box position-relative">
                <i class="bi-house-door fs-1 "></i>
                <h4><a href="https://wa.me/5543996341638?text=Oi! Tudo bem?  Tenho interresse em seus serviços , pode me ajudar ?"  class="stretched-link">Desenvolvimento de Sites</a></h4>
                <p>Criamos sites personalizados que atendem às suas necessidades e objetivos.</p>
              </div><!-- Icon-Box -->

              <div class="col-md-6 icon-box position-relative">
                <i class="bi-file-earmark-text fs-1"></i>
                <h4><a href="https://wa.me/5543996341638?text=Oi! Tudo bem?  Tenho interresse em seus serviços , pode me ajudar ?"  class="stretched-link">Automatizar tarefas</a></h4>
                <p>
                  A automação desempenha um papel fundamental na modernização dos negócios, permitindo que tarefas repetitivas sejam realizadas com eficiência e precisão. 
                </p>
              </div><!-- Icon-Box -->

              <div class="col-md-6 icon-box position-relative">
                <i class="bi-file-earmark-code fs-1"></i>
                <h4><a href="https://wa.me/5543996341638?text=Oi! Tudo bem?  Tenho interresse em seus serviços , pode me ajudar ?"  class="stretched-link">Sites OnePage </a></h4>
                <p>Oferecemos soluções elegantes e eficazes para sites de uma única página que capturam a atenção.</p>
              </div><!-- Icon-Box -->

              <div class="col-md-6 icon-box position-relative">
                <i class="bi-cart fs-1"></i>
                <h4><a href="https://wa.me/5543996341638?text=Oi! Tudo bem?  Tenho interresse em seus serviços , pode me ajudar ?"  class="stretched-link">Desenvolvimento de E-commerce</a></h4>
                <p>Criamos lojas online completas, otimizadas para conversão e fáceis de gerenciar.</p>
              </div><!-- Icon-Box -->

            </div>
          </div>

        </div>

      </div>

    </section><!-- /About Section --> {% endcomment %}
